h1 {
    font-size: 32px;
    font-weight: 700;
    color: #35393F;
    font-family: 'Roboto Slab';
    line-height: 32px;
}

.foo>* {
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color: #7C8187;
    font-family: 'Roboto Slab';
    line-height: 24px;
}

h2 {
    font-size: 28px;
    font-weight: 300;
    color: #35393F;
    font-family: 'Roboto Slab';
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: #35393F;
    font-family: 'Roboto Slab';
}

h4 {
    font-size: 20px;
    font-weight: 700;
    color: #35393F;
    font-family: 'Roboto Slab';
}

h5 {
    font-size: 16px;
    font-weight: 700;
    color: #35393F;
    font-family: 'Roboto Slab';
}

h5 {
    font-size: 14px;
    font-weight: 700;
    color: #35393F;
    font-family: 'Roboto Slab';
}

h6 {
    font-size: 14px;
    font-weight: 700;
    color: #E46643;
    font-family: 'Roboto Slab';
}

ol {
    padding-left: 38px;
}

ol li {
    font-size: 14px;
    color: #7C8187;
    font-family: 'Roboto Slab';
    margin-bottom: 4px;
    /* margin-left: 38px; */
}

ol li::before {
    margin-right: 16rem;
}

ul li {
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

ul li {
    font-size: 14px;
    color: #7C8187;
    font-family: 'Roboto Slab';
    list-style: none;
    margin-bottom: 4px;
}

ul li::before {
    content: "•";
    color: #E46643;
    font-family: 'Roboto Slab';
    font-size: 14px;
    margin-right: 16px;
    margin-left: 24px;
    display: inline-block;
    /* width: 2px; */
    text-align: center;
    vertical-align: middle;

}

blockquote {
    width: 100%;
    background: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    border-left: #E46643 solid 4px;
    padding: 24px;
    font-size: 14px;
    font-weight: 700;
    font-family: Roboto Slab;
}


blockquote a,
blockquote p {
    color: #35393F;
}

code {
    color: #35393F;
    font-family: Roboto Mono;
    line-height: 24px;
    font-size: 14px;
}

pre {
    width: 100%;
    background: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    padding: 24px;
}

.editor {
    white-space: pre-wrap;
    resize: none;
    overflow: auto;
    height: auto;
    width: 100%;
    border: none;
    font-family: Roboto Mono;
    font-size: 14px;
    line-height: 24px;
    color: #35393F;
}

textarea.editor:focus {
    outline: none;
}